[Unit]
Description=Firefly III (podman-compose)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/containers/firefly_iii
ExecStart=/usr/bin/podman-compose up -d --force-recreate
ExecStop=/usr/bin/podman-compose down
TimeoutStartSec=300

[Install]
WantedBy=default.target